body{
	background-color:azure;
	display:flex;
	justify-content:center;
	align-items:center;
}


main {
	text-align:center;
	font-family:"Comic Sans MS";
}

h1 {
	color:crimson;
}

#board {
	display:grid;
	height:600px;
	width:600px;
	grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
	box-shadow:3px 3px 5px rgba(0,0,0,0.5);
	border:2px solid black;
	background-color:lightblue;
	padding:5px;
}

#board > button {
	border:none;
	border-radius:10px;
	margin:5px;
	background-color:azure;
	font-family:inherit;
	font-weight:900;
	font-size:96px;
}

#board > button:hover {
	border:3px solid orange;
	background-color:aquamarine;
}

#board > button:active {
	border:3px solid orange;
	background-color:darkturquoise;
}

#again {
	margin:25px;
	height:75px;
	width:225px;
	background-color:lime;
	font-family:inherit;
	font-weight:700;
	color:red;
	border:2px solid black;
	border-radius:7px;
	font-size:24px;
	box-shadow:0px 7px black;
}

#again:hover {
	background-color:red;
	color:lime;
}

#again:active {
	transform:translateY(4px);
	box-shadow:0px 3px black;
}

#container,#container2 {
	position:absolute;
	width:100%;
	height:114%;
	background-color:rgba(0,0,0,0.8);
	display:none;
	justify-content:center;
	align-items:center;
}

#popup,#popup2 {
	width:600px;
	height:500px;
	background-color:white;
	border-radius:20px;
	text-align:center;
	font-family:"Comic Sans MS";
	position:relative;
}

#x,#x2 {
	width:30px;
	position:absolute;
	top:10px;
	right:10px;
	border:none;
	background-color:transparent;
}

#cat {
	width:400px;
}

#wintext {
	font-family:"Comic Sans MS";
	font-weight:900;
	font-size:160px;
}